{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

    {% if title %}
    <title>CAPES Portal | {{title}}</title>
    {% else %}
    <title>CAPES Portal</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'portal-home' %}">CAPES Portal</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mycapes-dashboard' %}"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'mycapes-profile' %}">Profile</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'oportal-opportunities' %}"
              >Opportunities Portal</a
            >
          </li>

          <!-- Companies Page-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'companies' %}"
              >Companies Page</a
            >
          </li>
        </ul>

        {% if request.user.is_authenticated %}
        <button class="btn my-2 my-sm-0">
          <a href="{% url 'mycapes-logout' %}">
            Logout
          </a>
        </button>
        {% else %}
        <button class="btn my-2 my-sm-0 mx-2">
          <a href="{% url 'mycapes-register' %}">
            Register
          </a>
        </button>
        <button class="btn my-2 my-sm-0 mx-2">
          <a href="{% url 'mycapes-login' %}">
            Login
          </a>
        </button>
        {% endif %}
      </div>
    </nav>
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %} {% endif %}
    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
