{% extends "base.html" %} {% block content %}
<h1>Companies Page</h1>
<h3>Display list of companies here: </h3>

<table class="table">
    <thead>
      <tr>
        <th>Company</th>
        <th>Representative</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Website</th>
        <th>Facebook</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
        <!--Display List in a Table-->
        {% for row in company_list %}
        <tr>
            <td class="company"><strong>{{row.company}}</strong></td><br/>
            <td class="representative">{{row.representative}}</td><br/>
            <td class="email_address">{{row.email_address}}</td><br/>
            <td class="phone_number">{{row.phone_number}}</td><br/>
            <td class="website">{{row.website}}</td><br/>
            <td class="fb">{{row.fb}}</td><br/>
            <td class="address">{{row.address}}</td>
        </tr>
        {% endfor %}

    </tbody>
  </table>
<ul>
    
</ul>
{% endblock %}
 