{% extends "base.html" %} {% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Sign In</legend>
      {% for field in form %}
      <p>
        {{field.label_tag}} {{field}} {% if field.help_text %}
        <small>{{field.help_text}}</small>
        {% endif %}
      </p>
      {% endfor %} {% for field in form %} {% for error in field.errors %}
      <p>{{error}}</p>
      {% endfor %} {% endfor %} {% if form.non_field_errors %}
      <p>{{login_form.non_field_errors}}</p>
      {% endif %}
    </fieldset>
    <div class="form-group">
      <button class="btn" type="submit">Sign In</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"
      >Don't have an account?
      <a class="ml-2" href="{% url 'mycapes-register' %}">Sign Up</a></small
    >
  </div>
</div>
{% endblock %}
