{% extends "base.html" %} {% block content %}
<h2>Name: {{student.first_name}} {{student.last_name}}</h2>
<h3>Email: {{student.email}}</h3>
<img class="rounded-circle" src="{{student.profile_picture.url}}" />
{% if student.resume.url %}
<h4>Resume: <a href="{{ student.resume.url }}">{{ student.resume.url }}</a></h4>
{% endif %} {% endblock %}
