{% extends "base.html" %} {% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Register now.</legend>
      {% for field in form %}
      <p>
        {{field.label_tag}} {{field}} {% if field.help_text %}
          <small>{{field.help_text}}</small>
        {% endif %}
        {% for error in field.errors %}
          <p>{{error}}</p>
        {% endfor %}
      </p>
      {% endfor %}
    </fieldset>
    <div class="form-group">
      <button class="btn" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"
      >Already have an account? <a class="ml-2" href="{% url 'mycapes-login' %}">Sign In</a></small
    >
  </div>
</div>
{% endblock %}
