{% extends "base.html" %} {% block content %}
<h1>Opportunities Portal</h1>
<!-- {% for opportunity in opportunities %}
<div class="container">
  <h2>{{oppportunity.title}}</h2>
</div>
{% endfor %}  -->
{% endblock %}
